<header>
  <section>
    <div>
      <p>My Songs</p>
    </div>
    <div>
      <fa-icon
      *ngIf="!imageProfile"
      [icon]="faUserCircle"
      size="4x"
      ></fa-icon>
      <img
      *ngIf="imageProfile"
        src="{{imageProfile}}"
        alt="imagem do usuário"
      />
      <p>{{ username }}</p>
    </div>
  </section>
  <section>
    <nav>
      <a routerLink="/search">Pesquisa</a>
      <a routerLink="/favorites">Favoritas</a>
      <a routerLink="/profile">Perfil</a>
    </nav>
  </section>
</header>