<section *ngIf="albums.length > 0; else noResearch">

  <div *ngIf="isLoading; else searchAlbums">
    <p>Carregando...</p>
  </div>

  <ng-template #searchAlbums>
    <p>Resultado de Álbuns do artista: {{ artist }}</p>
    <div *ngFor="let album of albums">
        <a routerLink="/album/{{album.artistId}}">
        <img src="{{ album.artworkUrl100 }}" alt="">
        <p>{{ album.artistName }}</p>
        <p>{{ album.collectionName }}</p>
      </a>
      </div>
  </ng-template>

</section>

<ng-template #noResearch>
  
  <h1 *ngIf="albumsNotFount && !isLoading">Nenhum álbum foi encontrado!</h1>
  <p *ngIf="isLoading; else searchAlbum">Carregando...</p>

  <ng-template #searchAlbum>
    <h1 *ngIf="!albumsNotFount && !isLoading">Faça a sua pesquisa!!!</h1>
  </ng-template>

</ng-template>
