<form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm">
  <label for="name"></label>
  <input
    type="text"
    placeholder="Informe seu nome de usuário"
    formControlName="username"
    required
  />
  <div class="validation-error" *ngIf="formDir.submitted && username.invalid">
    <p *ngIf="loginForm.controls['username'].hasError('required')">O nome é obrigatório!</p>
    <p *ngIf="loginForm.controls['username'].hasError('minlength')">O nome precisar ter mais de 3 caracteres!</p>
  </div>
  <input
    type="password"
    placeholder="Digite sua senha"
    formControlName="password"
    required
  />
  <div class="validation-error" *ngIf="formDir.submitted && password.invalid">
    <p *ngIf="loginForm.controls['password'].hasError('required')">A senha é obrigatório!</p>
    <p *ngIf="loginForm.controls['password'].hasError('minlength')">Sua senha precisa ter mais de 6 caracteres!</p>
  </div>
  <input type="submit" value="Entrar">
</form>