<div class="login-container">
  <div class="form-container">
    <h1>TrybeTunes</h1>
    <form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm">
      <label for="name">Digite seu nome:</label>
      <input
        type="text"
        placeholder="Informe seu nome de usuário"
        formControlName="username"
        required
      />
      <div
        class="validation-error"
        *ngIf="formDir.submitted && username.invalid"
      >
        <p *ngIf="loginForm.controls['username'].hasError('required')">
          O nome é obrigatório!
        </p>
        <p *ngIf="loginForm.controls['username'].hasError('minlength')">
          O nome precisar ter mais de 3 caracteres!
        </p>
      </div>
      <input type="submit" value="Entrar" />
    </form>
  </div>
  <div class="image-container">
    <img src="https://i.postimg.cc/9VBLSvm8/music.png" alt="Ilustração musical">
  </div>
</div>
